#Ignore autosaves
*.m~
*.asv

# Ignore mex files
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64

# Ignore path2sdpagmp
./extras/path2sdpagmp.m

# Ignore sdpagmp temp files
*param.sdpa
*sdpagmp_in.dat-s
*sdpagmp_out.out
